@use "variables" as *;
@use "mixins" as *;


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Yuji Mai", serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.8;
  overflow-x: hidden;   /* ← 追加 */
  position: relative;   /* ← 追加（保険） */
  width: 100%;          /* ← 追加（保険） */
}

main {
  overflow-x: hidden;
}

a {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.section {
  padding: 80px 20px;

  @include sp {
    padding: 48px 20px;
  }
}

.inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;

  @include sp {
    padding: 0;
  }
}

.section-title {
  text-align: center;
  background: linear-gradient(to bottom, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  font-weight: bold;
  font-size: clamp(1.2rem, 5vw, 2rem);
  letter-spacing: 0.2em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}