---
---
<section class="section about" id="about">
  <div class="inner">
    <div class="section-title">
      <h2 class="title">初代組系麺魂力組について</h2>
    </div>
    <div class="content">
      <p class="text">屋台からスタートし、全国のラーメンテーマパークで名を馳せた<br class="break"/>伝説の店主が腕を振るう名作。</p>
      <p class="text">今、ここに<span class="deco01">復活</span></p>
      <p class="text"><span class="deco02"><span>魂</span>の<span class="deco03">一杯</span></p></span>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  .about {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    margin: 120px auto;
  }

  .deco01 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: red;
    font-weight: bold;
  }

  .deco02 {
    font-size: clamp(2rem, 5vw, 3rem);
  }
</style>