---
---
<section class="section about" id="about">
  <div class="inner">
    <div class="section-title">
      <h2 class="title">初代組系麺魂力組について</h2>
    </div>
    <div class="content">
      <p class="text">江戸時代の地域に根ざしなくてはならない存在であった町火消64組からあやかり<br />店主の相性が力（りき）だったこともあり「力組」としました。</p>
      <p class="text">町火消でもある纏がモチーフのデザインにしています。<br class="break"/></p>
      <p class="text"></p>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  .about {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    margin: 120px auto;
  }

</style>